:root {
  font-size: 62.5%;
  --primaryColor: #008ed6;
  --secondaryColor: #868e96;
  --mainWhite: #fff;
  --mainBlack: #444;
  --mainGrey: #f4f4f4;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.3;
  --mainTransition: all 0.3s linear;
  --largeFont: 9rem;
  --mediumFont: 5.5rem;
  --smallFont: 4.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* globals */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mainGrey);
  overflow-x: hidden;
  color: var(--mainBlack);
  font-size: 1.6rem;
}

.active {
  border: solid var(--mainBlack) 0.2rem;
  padding: 0.5rem;
}

/* end of globals */

/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  padding: 1rem 2rem 0.7rem 2rem;
  background: var(--mainWhite);
  box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
  z-index: 1;
  transition: var(--mainTransition);
  background: var(--mainWhite);
}

.navbar-header {
  display: flex;
  flex-direction: column;
}
.nav-logo {
  display: flex;
  justify-content: center;
}
.nav-logo img {
  width: 5rem;
  display: none;
}
.nav-logo-fixed {
  display: none;
}
.image2 {
  width: 4rem;
}
.nav-btn {
  font-size: 3rem;
  border: none;
  background: none;
  color: var(--primaryColor);
}

.nav-btn-logo {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--mainBlack);
  letter-spacing: 0.1rem;
  display: none;
}

.active {
  border: solid var(--mainBlack) 0.2rem;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .navbar {
    position: sticky;
    width: 100%;
    padding: 2.7rem 2rem 2.7rem 2rem;
    /* z-index: 1; */
    transition: var(--mainTransition);
    background: none;
    box-shadow: none;
  }
  .navbar-fixed {
    position: fixed;
    background: var(--mainWhite);
    box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
    padding: 2rem 2rem 2rem 2rem;
    transition: var(--mainTransition);
  }
  .nav-btn {
    display: none;
  }
  .image2 {
    width: 5rem;
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    padding: 0.8rem 0 0 0;
    list-style-type: none;
  }
  .nav-links a {
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--mainBlack);
    letter-spacing: 0.1rem;
    display: inline;
  }
  .nav-logo {
    display: flex;
    justify-content: center;
    padding: 0 0 4rem 0;
  }
  .nav-logo img {
    width: 7rem;
    display: inline-block;
  }
  .nav-logo-fixed {
    display: none;
  }
}
/* end of navbar */

/* title */
.section-title {
  text-align: center;
  margin-bottom: 5rem;
}
.section-title h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 4rem 0 0 0;
}

.title-div {
  width: 4rem;
  height: 0.3rem;
  margin: 0 auto;
  background: var(--primaryColor);
  /* display: none; */
}

@media screen and (min-width: 768px) {
  .section-title h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
  .title-div {
    width: 7rem;
    height: 0.5rem;
    margin: 0 auto;
    background: var(--primaryColor);
    /* display: none; */
  }
}
/* end of title */

/* post */
.post-card {
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  background: var(--mainWhite);
}
.post-card p {
  padding: 1rem 0;
}
.post-image {
  width: 100%;
}
.post-title {
  text-align: center;
  padding: 0.5rem 0 0 0;
}
.post-title h4 {
  text-transform: uppercase;
  font-size: 1.6rem;
}
.post-title small {
  text-transform: capitalize;
}
.post-link {
  text-align: center;
  align-content: center;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background: transparent;
  margin: auto;
  border: solid 0.2rem var(--mainBlack);
  text-decoration: none;
  color: var(--mainBlack);
  text-align: center;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .post-card {
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    background: var(--mainWhite);
  }

  .post-title h4 {
    text-transform: uppercase;
    font-size: 1.8rem;
  }
  .btn {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    background: transparent;
    margin: auto;
    border: solid 0.2rem var(--mainBlack);
    text-decoration: none;
    color: var(--mainBlack);
    text-align: center;
    width: 50%;
  }
}
/* end of post */

/* post-list */
.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}
/* end of post-list */

/* post-container */
.post-container {
  padding: 6rem 2rem;
}

@media screen and (min-width: 768px) {
  .post-container-center {
    max-width: 1170px;
    margin: 0 auto;
  }
}
/* end of post-container */

/* single post */
.single-post {
  padding: 6rem 2rem;
}
.single-post-content {
  background: var(--mainWhite);
  padding: 1.5rem 1rem 1rem 1rem;
  width: 100%;
  margin: 2rem auto;
  /* top: 20%; */
}

.single-post-title {
  text-align: center;
  padding: 2rem 0;
}
.single-post-title h1 {
  text-transform: capitalize;
  font-size: 1.8rem;
  padding: 0 0 1rem 0;
  letter-spacing: 0.2rem;
}
.single-post-title small {
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}

.single-post-btn {
  border: solid 2px var(--mainBlack);
  padding: 0.4rem 0.7rem;
  text-decoration: none;
  color: var(--mainBlack);
  text-transform: capitalize;
}

.single-post-hero {
  min-height: calc(60vh - 50px);
}
.single-post-body {
  padding: 1rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .single-post-title h1 {
    text-transform: capitalize;
    font-size: 3rem;
    padding: 0 0 1rem 0;
    letter-spacing: 0.2rem;
  }
  .single-post-hero {
    min-height: calc(60vh - 50px);
  }
  .single-post-center {
    max-width: 1170px;
    margin: 0 auto;
  }
  .single-post-content {
    background: var(--mainWhite);
    padding: 2rem;
    width: 75%;
    margin: auto;
    /* top: 0%; */
  }

  .single-post-btn {
    border: solid 2px var(--mainBlack);
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--mainBlack);
    text-transform: capitalize;
  }
}
/* end of single post */

/* hero */
.hero {
  min-height: calc(70vh - 50px);
  background: url("./images/blog-header.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  margin: 4rem auto 0 auto;
}

.hero-center {
  padding: 4rem 2rem 0 2rem;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: calc(70vh - 50px);
    background: url("./images/blog-header.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
  }

  .hero-center {
    padding: 4rem 2rem 0 2rem;
  }
}
/* end of hero */

/* banner */
.banner {
  background: linear-gradient(
    to right,
    rgba(12, 12, 12, 0.699),
    rgba(54, 130, 170, 0.699)
  );
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  padding: 4rem 2rem;
}

.banner h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.banner p {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.3rem;
  text-decoration: none;
  border: 1.5px solid var(--mainWhite);
  color: var(--mainWhite);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background: none;
  transition: all linear 1s;
}
.post-btn:hover {
  cursor: pointer;
  border: solid 1.5px var(--mainWhite);
  background: var(--primaryColor);
  transition: all linear 1s;
}
@media screen and (min-width: 768px) {
  .banner {
    background: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.699),
      rgba(54, 130, 170, 0.699)
    );
    padding: 6rem;
  }
  .banner h1 {
    font-size: var(--mediumFont);
    letter-spacing: 0.3rem;
    text-align: center;
  }
  .banner p {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
  }
  .post-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3rem;
    text-decoration: none;
    border: 3px solid var(--mainWhite);
    color: var(--mainWhite);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    background: none;
    transition: all linear 1s;
  }
}
/* end of banner */

/* footer */
footer {
  background: var(--mainBlack);
  color: var(--mainWhite);
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.footer-content img {
  width: 6rem;
}
.follow-group {
  padding: 2rem 0;
  list-style-type: none;
  display: flex;
}
.follow-item {
  padding: 0 1rem;
}
.follow-item a {
  color: var(--mainWhite);
}
.follow-icon-container-1 {
  background: #3b5998;
  padding: 0.6rem 0.6rem 0.1rem 0.6rem;
  border-radius: 0.1rem;
  font-size: 1.5rem;
}
.follow-icon-container-2 {
  background: #55acee;
  padding: 0.6rem 0.6rem 0.1rem 0.6rem;
  border-radius: 0.1rem;
  font-size: 1.5rem;
}
.follow-icon-container-3 {
  background: #e95950;
  padding: 0.6rem 0.6rem 0.1rem 0.6rem;
  border-radius: 0.1rem;
  font-size: 1.5rem;
}
/* end of footer */

/* about me */
.about {
  padding: 6rem 2rem;
}
.about-me {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 0 6rem 0;
}
.about-img-div {
  display: flex;
  justify-content: center;
}
.about-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text-div p {
  margin: 0 0 2rem 0;
}

@media screen and (min-width: 768px) {
  .about-center {
    max-width: 1170px;
    margin: 0 auto;
  }
}
/* end of about me */

/* contact section */
.contact {
  padding: 6rem 2rem;
  align-content: center;
  align-items: center;
}
.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contact-center {
    max-width: 1170px;
    margin: 0 auto;
  }
}
/* end of contact section */

/* side nav */
.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(134, 134, 134, 0.5);
  z-index: 2;
  transition: var(--mainTransition);
  visibility: hidden;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  z-index: 3;
  background: var(--mainWhite);
  color: var(--mainBlack);
  padding: 2rem;
  transition: var(--mainTransition);
  transform: translateX(-100%);
  /* visibility: hidden; */
}
.show-menu {
  transform: translateX(0);
}
.transparent-bcg {
  visibility: visible;
}
.close-menu {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 2rem 0;
}
.side-nav-links a {
  text-decoration: none;
  color: var(--mainBlack);
  font-weight: bolder;
}
.side-nav-item {
  padding: 1rem 0 1rem 2rem;
  list-style-type: none;
  text-transform: uppercase;
}
.side-nav-icon {
  font-size: 3rem;
  color: var(--secondaryColor);
  /* color: red; */
}
.side-nav-btn {
  background: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-overlay {
    display: none;
  }
  .menu {
    display: none;
  }
}
/* end of side nav */

/* single featured */
.single-featured {
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}
.img-container {
  position: relative;
  transition: all 0.5s linear;
}

.img-container img {
  width: 100%;
  display: block;
  transition: all 0.5s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.3);
}

.img-container:hover img {
  opacity: 0.1;
}
.featured-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.5s linear;
}
.featured-link:hover {
  transition: all 0.5s linear;
}
.img-container:hover .featured-link {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.5s linear;
}
.featured-btn {
  padding: 1rem 2rem;
  display: inline-block;
  background: transparent;
  border: solid 0.2rem var(--mainBlack);
  text-decoration: none;
  color: var(--mainBlack);
  font-weight: bold;
  text-transform: uppercase;
}
.featured-btn:hover {
  transition: all 0.5s linear;
  background: var(--mainGrey);
}
.featured-posts {
  padding: 5rem 2rem;
}
.featured-posts-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  margin: 0 auto;
  max-width: 1170px;
}
.featured-info h4 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.featured-author {
  display: flex;
  justify-content: flex-end;
}
.featured-info small {
  justify-content: flex-end;
  text-align: right;
  text-transform: capitalize;
  background: var(--secondaryColor);
  color: var(--mainWhite);
  font-weight: bold;
  padding: 0 0.4rem;
  margin: 0 0.2rem 0.2rem 0;
}
/* end of single featured */
